@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: var(--Grey-900);
}
.main {
    margin: 90px auto;
    padding: 50px;
    .container {
        width: 400px;
        border-radius: 12px;
        background-color: var(--Grey-800);
        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                margin-top: 15px;
                width: 130px;
                height: 130px;
                border-radius: 50%;
            }
            h1 {
                margin-top: 20px;
                text-align: center;
                font-weight: 500;
                font-size: 30px;
                color: var(--White);
            }
            h2 {
                margin-top: 8px;
                text-align: center;
                font-size: 14px;
                color: var(--Green);
                font-weight: unset;
                letter-spacing: 1px;
            }
            p {
                margin: 25px 0 20px 0;
                font-size: 14px;
                font-weight: 200;
                color: var(--White);
            }
        }
        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 20px;
            ul li {
                margin: 15px ;
                padding: 10px;
                width: 300px;
                text-align: center;
                border-radius: 5px;
                background-color: var(--Grey-700);
                transition: 0.3s ease-in;
                a {
                    color: var(--White);
                }
            }li:hover {
                background-color: var(--Green);
                a{
                    color: var(--Grey-900);
                }
            }
        }
    }
}

/* Media  - Mobile: 375px */
@media (max-width: 375px) {
    .main {
    margin: 60px auto;
        .container {
            width: 330px;
            border-radius: 20px;
            .links ul li {
                width: 280px;
            }
        }
    }
}
